:root {
	--cdx-list-base-padding: 20px;
}

.cdx-list {
    margin-left: 20px;
    outline: none;

    &__item {
        margin: 5px 0;
        line-height: 1.6em;
    }

    &--unordered {
        list-style: disc;
    }

    &--ordered {
	      list-style-type: none;
    }

    &-settings {
        display: flex;

        .cdx-settings-button {
            width: 50%;
        }
    }
	&--tab {
		&_0 {
			margin-left: 0;
		}
		&_1 {
			margin-left: var(--cdx-list-base-padding);
		}
		&_2 {
			margin-left: calc(var(--cdx-list-base-padding) * 2);
		}
		&_3 {
			margin-left: calc(var(--cdx-list-base-padding) * 3);
		}
		&_4 {
			margin-left: calc(var(--cdx-list-base-padding) * 4);
		}
		&_5 {
			margin-left: calc(var(--cdx-list-base-padding) * 5);
		}
		&_6 {
			margin-left: calc(var(--cdx-list-base-padding) * 6);
		}
		&_7 {
			margin-left: calc(var(--cdx-list-base-padding) * 7);
		}
	}
	&--number {
		position: absolute;
		left: -100%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}