:root {
	--cdx-list-base-padding: 15px;
}

.cdx-list {
    margin: 0;
    margin-left: 40px;
    outline: none;

    &__item {
        margin: 5.5px 0 5.5px 3px;
        line-height: 1.6em;
    }

    &--unordered {
        list-style: disc;
    }

    &--ordered {
        list-style: decimal;
    }

    &-settings {
        display: flex;

        .cdx-settings-button {
            width: 50%;
        }
    }
	&--tab {
		&_0 {
			margin-left: 0;
		}
		&_1 {
			margin-left: var(--cdx-list-base-padding);
		}
		&_2 {
			margin-left: calc(var(--cdx-list-base-padding) * 2);
		}
		&_3 {
			margin-left: calc(var(--cdx-list-base-padding) * 3);
		}
		&_4 {
			margin-left: calc(var(--cdx-list-base-padding) * 4);
		}
		&_5 {
			margin-left: calc(var(--cdx-list-base-padding) * 5);
		}
		&_6 {
			margin-left: calc(var(--cdx-list-base-padding) * 6);
		}
		&_7 {
			margin-left: calc(var(--cdx-list-base-padding) * 7);
		}
	}
}